locations:
  # ------------------------------------------------------------------------
  - name: profile_fokus_fsh_example
    type: FILESYSTEM
    environment: PROD
    # local repository location:
    fullPath: <your_local_path>
# ------------------------------------------------------------------------
  - name: napi_output_location_example
    type: FILESYSTEM
    environment: PROD
    # output folder:
    fullPath: <your_local_path>
# ------------------------------------------------------------------------