name: GitHub Actions Profile Loader
run-name: Running Profile Loader on GitHub
on: [push]
jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: dockerhub.fokus.fraunhofer.de:5000/demis-light/demis-profile-loader:latest
      credentials:
        username: ${{ secrets.user }}
        password: ${{ secrets.gitlab_token }}
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Profile Loader
        run: |
          java -jar /workspace/profile-loader.jar \
           -f napi-flow.yaml \
           -l ./.ci/locations.yaml

      - name: Archive validation results
        uses: actions/upload-artifact@v4
        with:
          name: validation-report
          path: target/flow/validationResults/report/html

      - name: Result profiles
        uses: actions/upload-artifact@v4
        with:
          name: metadata-resources
          path: target/flow/MetadataResources